@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #2b2b2b;
}

.container {
  max-width: 1046px;
  margin: auto;
  /* border: #a259ff solid 1px; */
}

button {
  transition: all 0.3s;
  cursor: pointer;
}

button:active {
  transform: scale(0.8);
}

nav {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

nav .nav-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-right ul {
  display: flex;
  gap: 50px;
}

.nav-right ul li {
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.nav-right button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  padding: 15px 30px;
  border-radius: 20px;
  background-color: #a259ff;
  cursor: pointer;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto;
}

.home .left-side h1 {
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
  color: white;
  width: 500px;
  margin-bottom: 20px;
}

.home .left-side p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: white;
  width: 500px;
  margin-bottom: 20px;
}

.home .left-side button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: #a259ff;
  margin-bottom: 50px;
}

/* trending-collection */
.trending-collection h1 {
  color: white;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  margin-bottom: 10px;
}

.trending-collection p {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
}

.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 0;
  gap: 20px;
}

.collection .card {
  width: 330px;
}

.collection .card .three {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.collection .card .info h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: white;
  margin-bottom: 10px;
}

.collection .card .info p {
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

/* rated-artists css */
.rated-artists {
  margin: 50px auto;
}

.rated-artists .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rated-artists .top .headings h1 {
  color: white;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  margin-bottom: 10px;
}

.rated-artists .top .headings p {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
}

.rated-artists .top button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  border-radius: 20px;
  border: 2px solid #a259ff;
  padding: 20px 50px;
  background-color: transparent;
}

/* grids */
.rated-artists .card-grid,
.categories .card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 25px;
  margin-top: 50px;
}

.rated-artists .card-grid .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #3b3b3b;
  width: 240px;
  padding: 20px;
  border-radius: 20px;
  transition: all 0.5s;
}

.rated-artists .card-grid .card img {
  transition: all 0.5s;
}

.rated-artists .card-grid .card:hover {
  box-shadow: inset 0 0 20px #a259ff;
}

.rated-artists .card-grid .card:hover img {
  transform: scale(1.1);
}

.rated-artists .card-grid .card h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: #2b2b2b;
  color: #858584;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  border-radius: 20px;
  width: 30px;
  height: 30px;
}

.rated-artists .card-grid .card h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: white;
  text-transform: capitalize;
}

.rated-artists .card-grid .card p {
  color: #858584;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.rated-artists .card-grid .card p span {
  color: white;
}

/* categories */
.categories h1 {
  color: white;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}

.categories .card-grid .card {
  background: #3b3b3b;
  width: 240px;
  border-radius: 20px;
  transition: all 0.5s;
}

.categories .card-grid .card h2 {
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  transition: all 0.5s;
}

.categories .card-grid .card:hover {
  transform: translateY(-10px);
}

.categories .card-grid .card:hover h2 {
  color: #a259ff;
}

/* discover css */
.discover {
  margin: 50px auto;
}

.discover .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover .top .headings h1 {
  color: white;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  margin-bottom: 10px;
}

.discover .top .headings p {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
}

.discover .top button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  border-radius: 20px;
  border: 2px solid #a259ff;
  padding: 20px 50px;
  background-color: transparent;
}

.discover-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 50px;
}

.discover-cards .card {
  width: 330px;
  border-radius: 20px;
  background: #3b3b3b;
  transition: all 0.5s;
}

.discover-cards .card:hover {
  transform: translateY(-10px);
}

.discover-cards .card .info {
  padding: 20px;
}

.discover-cards .card .info h2 {
  color: white;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 10px;
  transition: all 0.5s;
}

.discover-cards .card:hover h2 {
  color: #a259ff;
}

.discover-cards .card .info p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 20px;
}

.discover-cards .card .info .price-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover-cards .card .info .price-part h3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #858584;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
}

.discover-cards .card .info .price-part h3 span {
  color: white;
  font-size: 16px;
  line-height: 140%;
}

/* banner css*/
.banner {
  width: 1040px;
}

/* works */
.works {
  margin: 50px auto;
}

.works h1 {
  color: white;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  margin-bottom: 10px;
}

.works p {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
}

.works .card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 50px;
}

.works .card-grid .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b3b3b;
  padding: 10px 30px 30px 30px;
  border-radius: 20px;
  width: 330px;
  transition: all 0.5s;
}

.works .card-grid .card img {
  transition: all 0.5s;
}

.works .card-grid .card:hover {
  box-shadow: 0 0 20px #a259ff;
}

.works .card-grid .card:hover img {
  transform: scale(1.1);
}

.works .card-grid .card h2 {
  color: white;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  margin: 20px 0;
  transition: all 0.5s;
}

.works .card-grid .card:hover h2 {
  color: #a259ff;
}

.works .card-grid .card p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}

/* subscribe-widget css */
.subscribe-widget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3b3b3b;
  margin: 50px auto;
  padding: 60px;
  border-radius: 20px;
}

.subscribe-widget .info h1 {
  color: white;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  margin-bottom: 10px;
}

.subscribe-widget .info p {
  color: white;
  width: 400px;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.subscribe-widget .info .form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  width: 425px;
}

.subscribe-widget .info .form input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 16px;
  line-height: 140%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.subscribe-widget .info .form input::placeholder {
  color: #2b2b2b;
}

.subscribe-widget .info .form button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 20px 50px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  background-color: #a259ff;
}
